**/.idea
/annotations-code-user/target/
/annotations-code-maven-plugin/target/
/annotations-code-user/src/main/resources/data/dev.properties
/annotations-code-user/src/main/resources/application-dev.properties
