<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//Apache Software Foundation//DTD Log4j 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Define the console appender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%t] %-5p %c{1} - %m%n" />
        </layout>
    </appender>

    <!-- Configure the root logger to use the console appender -->
    <root>
        <priority value="debug" />
        <appender-ref ref="console" />
    </root>

    <!-- Configure the ModelProcessor logger to use the console appender -->
    <logger name="org.triadsoft.plugin.processors.ModelProcessor">
        <level value="debug" />
        <appender-ref ref="console" />
    </logger>

</log4j:configuration>